{% extends "based.html" %}
{% block start %}
    <h1>this is receipes page</h1>
    <a href="/">home</a>|
    <a href="/about/">about</a>
    |<a href="/contact/">contact</a>|

<div class="container mt-5">
<form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <h2>Update Receipes</h2>
    <hr>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Receipes name</label>
    <input name="receipe_name" value="{{receipe.receipe_name}}" required type="text" class="form-control">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1"  class="form-label">Racepies description</label>
   <textarea class="form-control" value="" required name="receipe_description">{{receipe.receipe_description}}</textarea>
  </div>
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">receipe_image</label>
     <input name="receipe_image" value="{{receipe.receipe_image}}" type="file" class="form-control">
  </div>
  
  <button type="submit" class="btn btn-success">Update Recipe</button>
</form>

</div>
  
{% endblock %}
<!-- </body>